@model PhotoGallery.Domain.Photo

@{
    ViewBag.Title = "Details";
}


<div>
    <h3>@Model.Name</h3>
    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
        </p>
    }

    <h6> @Html.DisplayFor(model => model.Description)</h6>
    <h6>   @Html.DisplayFor(model => model.UploadDateTime)</h6>
    <div class=".col-xs-12">
        <img src="@Model.Path" class="img-rounded img-responsive" />
    </div>
</div>
