@model PagedList.IPagedList<PhotoGallery.Domain.Photo>
@using PagedList.Mvc;
 
<ul id="gallery-grid" class="row shuffle">
    @foreach (var item in Model)
    {

        <li class=" col-md-4 col-xs-6 thumb gallery-grid shuffle-item">
            <div class="hover-content">
                <a href="@Url.Action("Details", "Galleries", new {Id = item.Id})">

                    <img src="@item.Path" class="img-responsive"/>
                    <div class="overlay">
                        <i class="fa fa-search"></i>
                        <h6>@item.Name</h6>
                        <div>@item.Description</div>
                    </div>
                </a>
            </div>
        </li>
    }
</ul>


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) from @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetPhotosForPage", "Photos", new { page }))
